<h2>Default Watchers</h2>
<form action='/default_watchers', method='post'>
<%= token_tag form_authenticity_token %>
<% @all_active_users.each do |user| %>
<%= check_box_tag 'watcher_ids[]', user.id, @default_watchers.include?(user) %>
<%=h user %></br>
<% end %>
</br>
<%= submit_tag l(:button_submit) %>
</form>